{% extends "complex/base.html" %}
{% load static %}

{% block table %}
    <h3>Active Sensors</h3>
    <h4>{{ form }}</h4>
    <table id="list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Serial Number</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td><a href="{{ sensor.link }}">{{ sensor.link }}</a></td>
                <td>{{ sensor.name }}</td>
                <td>{{ sensor.sku }}</td>
                <td>{{ sensor.serial_no }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="pagination">
        <tr>
            <td>
                {% if prev %}
                    <button type="button">
                        <a href="{{ prev }}">Prev</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Prev</a>
                    </button>
                {% endif %}
            </td>
            <td>
                {% if next %}
                    <button type="button">
                        <a href="{{ next }}">Next</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Next</a>
                    </button>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
