{% load static %}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>{{ title }}</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/simple/layout.css' %}"/>
    <script type="text/javascript"
            src="{% static 'jslib/jquery.3.1.1.min.js' %}">
    </script>
    <script type="text/javascript"
            src="{% static 'js/utils.js' %}">
    </script>
</head>

<body>
    <div id="outside">
        <div id="inside">
            {% block header %}{% endblock %}
            <div>
            {% block form %}{% endblock %}
            </div>
            <nav id="menu">
                <h4 style="text-align:center">Manage</h4>
                <ul>
                    <li><a id="hlink" href={% url "simple:home" %}>Home</a></li>
                    <li><a id="illink" href={% url "simple:inventory-list" %}>Show Inventories</a></li>
                    <li><a id="iclink" href={% url "simple:inventory-create" %}>Add Inventory</a></li>
                    <li><a id="sllink" href={% url "simple:store-list" %}>Show Stores</a></li>
                    <li><a id="sclink" href={% url "simple:store-create" %}>Add Store</a></li>
                    <li><a id="wllink" href={% url "simple:widget-list" %}>Show Widgets</a></li>
                    <li><a id="wclink" href={% url "simple:widget-create" %}>Add Widget</a></li>
                    <li><a id="logout" href="/logout/">Logout User</a></li>
                </ul>
            </nav>
            <article id="table">
            <div>
                {% block table %}{% endblock %}
            </div>
            </article>
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>

</html>
