{% extends "simple/base.html" %}
{% load static %}

{% block table %}
    <h3>Active Inventory</h3>
    <table id="list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Store</th>
                <th>Widget</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for inv in inventory %}
            <tr>
                <td><a href="{{ inv.link }}">{{ inv.link }}</a></td>
                <td>{{ inv.store }}</td>
                <td>{{ inv.widget }}</td>
                <td>{{ inv.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if inventory > 0 %}
        <button type="button">
            <a href="{{ inv.ulink }}">Modify Item</a>
        </button>
        <button type="button">
            <a href="{{ inv.dlink }}">Delete Item</a>
        </button>
    {% endif %}

        <button type="button">
            <a href={% url "simple:widget-aggr" %}>Total Cost</a>
        </button>
    {% endif %}
{% endblock %}
