{% extends "simple/base.html" %}
{% load static %}

{% block table %}
    <h3>Active Inventory</h3>
    <table id="list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Store</th>
                <th>Widget</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        {% for inv in inventories %}
            <tr>
                <td><a href="{{ inv.link }}">{{ inv.link }}</a></td>
                <td>{{ inv.store }}</td>
                <td>{{ inv.widget }}</td>
                <td>{{ inv.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="pagination">
        <tr>
            <td>
                {% if prev %}
                    <button type="button">
                        <a href="{{ prev }}">Prev</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Prev</a>
                    </button>
                {% endif %}
            </td>
            <td>
                {% if aggr %}
                    <button type="button">
                        <a href="{{ aggr }}">Total Quantity</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Total Quantity</a>
                    </button>
                {% endif %}
            </td>
            <td>
                {% if next %}
                    <button type="button">
                        <a href="{{ next }}">Next</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Next</a>
                    </button>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
