{% extends "simple/base.html" %}
{% load static %}

{% block table %}
    <h3>Active Stores</h3>
    <table id="list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td><a href="{{ store.link }}">{{ store.link }}</a></td>
                <td>{{ widget.name }}</td>
                <td>{{ widget.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
