{% extends "simple/base.html" %}

{% block table %}
    <table id="detail">
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>{{ widget.name }}</td>
            <td>{{ widget.sku }}</td>
            <td>{{ widget.cost }}</td>
        </tr>
    </table>
    {% if widget.name %}
        <button type="button">
            <a href="{{ widget.ulink }}">Modify Widget</a>
        </button>
        <button type="button">
            <a href="{{ widget.dlink }}">Delete Widget</a>
        </button>
    {% endif %}
{% endblock %}
