{% extends "simple/base.html" %}
{% load static %}

{% block table %}
    <h3>Active Widgets</h3>
    <table id="list">
        <thead>
            <tr>
                <th>Link</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        {% for widget in widgets %}
            <tr>
                <td><a href="{{ widget.link }}">{{ widget.link }}</a></td>
                <td>{{ widget.name }}</td>
                <td>{{ widget.sku }}</td>
                <td>{{ widget.cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table id="pagination">
        <tr>
            <td>
                {% if prev %}
                    <button type="button">
                        <a href="{{ prev }}">Prev</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Prev</a>
                    </button>
                {% endif %}
            </td>
            <td>
                {% if aggr %}
                    <button type="button">
                        <a href={% url "simple:widget-aggr" %}>Total Cost</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Total Cost</a>
                    </button>
                {% endif %}
            </td>
            <td>
                {% if next %}
                    <button type="button">
                        <a href="{{ next }}">Next</a>
                    </button>
                {% else %}
                    <button type="button">
                        <a>Next</a>
                    </button>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
